In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('GM.xlsx',header = 0,sheet_name = 'Cars Lab Data')
df['Cylinder'] = df['Cylinder'].astype(int, errors = 'raise')

In [3]:
df

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,70755.466717,583,Cadillac,XLR-V8,Hardtop Conv 2D,Convertible,8,4.6,2,1,1,1
1,69133.731722,7892,Cadillac,XLR-V8,Hardtop Conv 2D,Convertible,8,4.6,2,1,1,1
2,68566.187189,6420,Cadillac,XLR-V8,Hardtop Conv 2D,Convertible,8,4.6,2,1,1,1
3,66374.307040,12021,Cadillac,XLR-V8,Hardtop Conv 2D,Convertible,8,4.6,2,1,1,1
4,65281.481237,15600,Cadillac,XLR-V8,Hardtop Conv 2D,Convertible,8,4.6,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
799,9220.829677,29992,Chevrolet,AVEO,SVM Hatchback 4D,Hatchback,4,1.6,4,1,0,1
800,9041.906254,26191,Chevrolet,AVEO,SVM Sedan 4D,Sedan,4,1.6,4,0,0,1
801,8870.947316,32914,Chevrolet,AVEO,SVM Sedan 4D,Sedan,4,1.6,4,1,1,0
802,8768.998585,35299,Chevrolet,AVEO,SVM Sedan 4D,Sedan,4,1.6,4,0,0,0
803,8638.930895,25216,Chevrolet,AVEO,SVM Sedan 4D,Sedan,4,1.6,4,0,0,0

1. (a)

In [4]:
df.value_counts('Type')

Type
Sedan          490
Coupe          140
Wagon           64
Hatchback       60
Convertible     50
dtype: int64

(b)

In [5]:
df.value_counts('Make')

Make
Chevrolet    320
Pontiac      150
SAAB         114
Buick         80
Cadillac      80
Saturn        60
dtype: int64

2.

In [6]:
df.value_counts('Trim',ascending = False)

Trim
Sedan 4D               170
LS Sedan 4D             50
Coupe 2D                50
LS Coupe 2D             30
LT Sedan 4D             30
GT Sedan 4D             20
SE Sedan 4D             20
Quad Coupe 2D           20
Aero Sedan 4D           20
Arc Sedan 4D            20
Linear Wagon 4D         14
SS Sedan 4D             10
Linear Conv 2D          10
LT Coupe 2D             10
LT Hatchback 4D         10
LT MAXX Hback 4D        10
Special Ed Ultra 4D     10
Limited Sedan 4D        10
Linear Sedan 4D         10
SS Coupe 2D             10
MAXX Hback 4D           10
LS Sport Sedan 4D       10
SVM Sedan 4D            10
SVM Hatchback 4D        10
SLE Sedan 4D            10
AWD Sportwagon 4D       10
LS Hatchback 4D         10
LS Sport Coupe 2D       10
LS MAXX Hback 4D        10
Aero Wagon 4D           10
Arc Conv 2D             10
Arc Wagon 4D            10
CX Sedan 4D             10
CXL Sedan 4D            10
CXS Sedan 4D            10
Conv 2D                 10
Custom Sedan 4D         10
DHS Sedan 4D            10
DTS Sedan 4D            10
GT Coupe 2D             10
GT Sportwagon           10
GTP Sedan 4D            10
GXP Sedan 4D            10
Hardtop Conv 2D         10
L300 Sedan 4D           10
Aero Conv 2D            10
Sportwagon 4D           10
dtype: int64

3.

In [7]:
df.groupby('Model')['Price'].agg('mean').sort_values(ascending = False)

Model
XLR-V8         62938.736572
CST-V          45022.924436
STS-V8         42984.448195
Corvette       39155.712375
STS-V6         37374.584290
Deville        36238.281772
CTS            30455.144774
9_3 HO         30429.581085
9_5            30023.924244
GTO            29130.247052
9_3            29047.756011
9_5 HO         28184.822515
9-2X AWD       24960.948265
Park Avenue    24015.453468
Lacrosse       21077.860162
Bonneville     20896.373454
Impala         19923.092805
Monte Carlo    19841.957500
G6             19652.267843
Lesabre        19633.447769
Grand Prix     17890.346792
Malibu         17166.928256
L Series       16550.926211
Century        15989.528107
Vibe           15881.386094
Grand Am       15579.709258
Cobalt         13952.927593
Classic        13597.916169
Ion            13464.383830
Cavalier       12865.913327
Sunfire        12582.986048
AVEO           10752.833305
Name: Price, dtype: float64

4.

In [8]:
np.round(df.groupby('Leather')['Price'].agg('mean').max()\
-df.groupby('Leather')['Price'].agg('mean').min(),2)

3473.46

5.

In [9]:
df.Mileage[df.Liter > 4.5].mean()

19575.33

6.

In [10]:
np.round(df.Price[ (df.Cylinder >= 6) & (df.Mileage > 20000)].mean(),2)

23159.43

7.

In [11]:
df.pivot_table(values = 'Price',index = 'Type',aggfunc = np.mean)

                    Price
Type
Convertible  40831.705847
Coupe        17726.931831
Hatchback    14170.927809
Sedan        21067.927487
Wagon        22859.245356

In [12]:
df.pivot_table(values = 'Price',index = 'Type',aggfunc = np.median)

                    Price
Type
Convertible  35980.445412
Coupe        14737.070166
Hatchback    13539.010853
Sedan        18884.500144
Wagon        24116.342997

8.

In [13]:
df[ (df.Mileage >= 25000) & (df.Make == 'Pontiac')]\
.sort_values(by = 'Price', ascending = False)[:1]

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
170,28502.306109,27199,Pontiac,GTO,Coupe 2D,Coupe,8,5.7,2,1,1,1

9.

In [14]:
df1 = df.groupby(['Doors','Sound'], as_index = False)\
            ['Price'].agg('count')
df1.columns = ['Doors','Sound','Number']
df1

   Doors  Sound  Number
0      2      0      51
1      2      1     139
2      4      0     207
3      4      1     407

10.

In [15]:
df.groupby(['Make','Type'])['Price','Mileage'].agg('mean')

<ipython-input-15-a66fdaeb6317>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Make','Type'])['Price','Mileage'].agg('mean')

                              Price       Mileage
Make      Type
Buick     Sedan        20815.113883  20428.100000
Cadillac  Convertible  62938.736572  18766.500000
          Sedan        37793.135287  18928.857143
Chevrolet Convertible  41501.592957  19302.100000
          Coupe        17933.203409  19933.822222
          Hatchback    14170.927809  19090.883333
          Sedan        14859.824290  19732.937500
Pontiac   Coupe        19317.108812  18776.900000
          Sedan        18954.002401  19387.444444
          Wagon        15881.386094  19664.066667
SAAB      Convertible  33239.399902  21818.233333
          Sedan        27573.284345  20157.660000
          Wagon        29016.179999  21396.470588
Saturn    Coupe        14413.444263  21144.500000
          Sedan        13761.489209  19931.375000