In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import pandas_datareader
import yfinance as yf

In [2]:
dfnames = pd.read_csv('constituents.csv')
dfnames[:5]

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [3]:
dfprices = pd.read_csv('prices.csv')
dfprices[:5]

,Date,MMM,AOS,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,...,WLTW,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBH,ZION,ZTS
0,2019-01-02,181.270157,42.208401,67.791504,80.913643,137.682632,46.350380,114.464066,224.570007,156.691010,...,147.045517,100.250526,46.331181,19.286905,84.908691,65.213387,89.070412,101.280602,39.697353,83.688446
1,2019-01-03,174.444626,41.188873,64.592140,78.247650,132.981903,44.704514,110.709183,215.699997,161.582657,...,143.960770,99.280663,46.148624,18.865334,81.711800,62.977840,86.829994,99.448669,39.477768,80.795799
2,2019-01-04,181.621399,42.839535,66.435669,80.768547,138.152725,46.488358,115.894493,226.190002,157.574066,...,147.851089,103.284927,46.600212,19.593504,85.495285,65.634995,89.089882,102.845154,40.690266,83.965828
3,2019-01-07,181.203720,43.606602,67.430595,81.947380,138.632599,47.799141,117.622940,229.259995,159.885956,...,148.941528,105.119019,46.398445,20.015074,87.753654,64.664299,88.992477,102.884758,40.852573,84.471039
4,2019-01-08,181.963150,44.674679,66.621002,82.328247,142.138565,49.247898,119.738770,232.679993,158.774658,...,149.894470,108.412689,46.936501,20.676178,86.081886,65.272209,88.817146,100.577530,41.224911,85.729149

In [4]:
dfnames[dfnames['Symbol'].str.startswith('GOOG')]

   Symbol                  Name                  Sector
25  GOOGL  Alphabet Inc Class A  Information Technology
26   GOOG  Alphabet Inc Class C  Information Technology

In [5]:
dfnames.drop(dfnames[dfnames.Symbol=='GOOG'].index,axis=0,inplace=True)
dfnames.drop(dfnames[dfnames.Symbol=='DISCK'].index,axis=0,inplace=True)

In [6]:
dfprices.drop(['GOOG'],axis=1,inplace=True)
dfprices.drop(['DISCK'],axis=1,inplace=True)

## 1. (a), (b)

In [66]:
net_returns = dfprices.iloc[:,1:461] / dfprices.iloc[:,1:461].shift(1) - 1
net_returns

,MMM,AOS,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AMD,...,WLTW,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBH,ZION,ZTS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.037654,-0.024155,-0.047194,-0.032949,-0.034142,-0.035509,-0.032804,-0.039498,0.031218,-0.094530,...,-0.020978,-0.009674,-0.003940,-0.021858,-0.037651,-0.034280,-0.025153,-0.018088,-0.005531,-0.034564
2,0.041141,0.040075,0.028541,0.032217,0.038884,0.039903,0.046837,0.048632,-0.024808,0.114370,...,0.027023,0.040333,0.009786,0.038598,0.046303,0.042192,0.026027,0.034153,0.030713,0.039235
3,-0.002300,0.017906,0.014976,0.014595,0.003474,0.028196,0.014914,0.013573,0.014672,0.082632,...,0.007375,0.017758,-0.004330,0.021516,0.026415,-0.014789,-0.001093,0.000385,0.003989,0.006017
4,0.004191,0.024493,-0.012006,0.004648,0.025290,0.030309,0.017988,0.014918,-0.006951,0.008751,...,0.006398,0.031333,0.011596,0.033030,-0.019051,0.009401,-0.001970,-0.022425,0.009114,0.014894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0.004321,-0.010778,0.011948,-0.009890,0.001085,0.008417,0.005575,0.008085,-0.009719,0.009515,...,-0.008243,-0.058930,0.003657,-0.015081,-0.007451,0.004034,-0.008635,0.011475,-0.017572,-0.001688
351,0.038514,0.061819,-0.021756,-0.015092,0.013887,-0.042146,0.060981,-0.022400,0.015733,-0.035889,...,0.015818,0.084856,0.011430,0.026502,0.020095,0.048698,0.009169,0.027066,0.090759,0.002613
352,0.039913,0.053089,0.014305,-0.008048,0.017974,0.002143,0.048471,-0.003876,0.045213,-0.008460,...,0.014431,0.024031,0.010973,0.037866,0.030680,0.059548,0.024872,0.012624,0.065290,0.039785
353,-0.008410,-0.013133,0.014764,0.000556,0.008703,0.000998,-0.057788,0.012421,-0.023075,-0.018961,...,0.005328,-0.042908,0.036935,-0.070757,-0.020760,-0.010166,0.012031,-0.002727,-0.030217,0.018210
354,-0.002423,0.019532,0.030619,0.029324,-0.000248,0.025064,-0.030497,0.017824,0.006357,0.039814,...,-0.013372,0.000962,0.015935,-0.055324,0.031408,-0.026702,-0.012328,-0.012892,-0.032628,0.009268

In [46]:
corrs = abs(net_returns.corr())
corrs

,MMM,AOS,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AMD,...,WLTW,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBH,ZION,ZTS
MMM,1.000000,0.594449,0.576961,0.452514,0.635089,0.291471,0.588411,0.473460,0.487424,0.470008,...,0.486448,0.481869,0.465939,0.540170,0.624762,0.694108,0.515977,0.516901,0.618936,0.531877
AOS,0.594449,1.000000,0.453195,0.343838,0.514166,0.330122,0.524742,0.448326,0.469226,0.394258,...,0.404499,0.522354,0.410772,0.458844,0.490256,0.608648,0.351790,0.376173,0.609799,0.427140
ABT,0.576961,0.453195,1.000000,0.568671,0.696058,0.440851,0.462863,0.638487,0.448432,0.518713,...,0.607078,0.318724,0.667364,0.406585,0.508071,0.622988,0.533643,0.485332,0.453002,0.705734
ABBV,0.452514,0.343838,0.568671,1.000000,0.563359,0.387061,0.427824,0.552526,0.402296,0.442000,...,0.453461,0.375407,0.438701,0.400891,0.348093,0.476572,0.401950,0.424567,0.399792,0.524452
ACN,0.635089,0.514166,0.696058,0.563359,1.000000,0.438397,0.634482,0.746210,0.523023,0.539640,...,0.684904,0.536269,0.629817,0.642336,0.548371,0.718796,0.665116,0.656766,0.633461,0.704295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,0.694108,0.608648,0.622988,0.476572,0.718796,0.331620,0.659410,0.605058,0.549069,0.482497,...,0.647832,0.553563,0.637269,0.647966,0.527772,1.000000,0.547317,0.519717,0.687614,0.631082
YUM,0.515977,0.351790,0.533643,0.401950,0.665116,0.157692,0.537909,0.423304,0.514138,0.378573,...,0.623878,0.521140,0.551150,0.561419,0.351226,0.547317,1.000000,0.645481,0.458790,0.656862
ZBH,0.516901,0.376173,0.485332,0.424567,0.656766,0.167409,0.561865,0.430815,0.410941,0.362416,...,0.568297,0.579108,0.364473,0.654485,0.332292,0.519717,0.645481,1.000000,0.531084,0.575988
ZION,0.618936,0.609799,0.453002,0.399792,0.633461,0.212934,0.634437,0.461725,0.485028,0.366822,...,0.517866,0.578110,0.437202,0.602975,0.477316,0.687614,0.458790,0.531084,1.000000,0.477320
ZTS,0.531877,0.427140,0.705734,0.524452,0.704295,0.371696,0.537013,0.587452,0.511739,0.517685,...,0.692867,0.484092,0.626071,0.550125,0.443905,0.631082,0.656862,0.575988,0.477320,1.000000

In [3]:
corrmatrix1 = corrs.values
np.fill_diagonal(corrmatrix1,0)
print(np.round(corrmatrix1,3))

NameError: name 'corrs' is not defined

In [1]:
np.amax(corrmatrix1)

NameError: name 'np' is not defined

In [51]:
np.where(corrmatrix1 == np.amax(corrmatrix1))

(array([416, 417]), array([417, 416]))

In [4]:
corrmatrix2 = corrs.values
np.fill_diagonal(corrmatrix2,1)
print(np.round(corrmatrix2,3))

NameError: name 'corrs' is not defined

In [53]:
np.amin(corrmatrix2)

5.541737792574135e-05

In [54]:
np.where(corrmatrix2 == np.amin(corrmatrix2))

(array([ 94, 371]), array([371,  94]))

In [68]:
print(dfnames.iloc[416,0],dfnames.iloc[417,0])
print(dfnames.iloc[416,1],dfnames.iloc[417,1])

UAA UA
Under Armour Class A Under Armour Class C

In [70]:
print(dfnames.iloc[94,0],dfnames.iloc[371,0])
print(dfnames.iloc[94,1],dfnames.iloc[371,1])

CHD SCG
Church & Dwight SCANA Corp

## 2. (a)

In [2]:
sampleprices = dfprices.loc[:,samplestocks.Symbol]
sampleprices

NameError: name 'dfprices' is not defined

In [27]:
net_returns1 = sampleprices/ sampleprices.shift(1) - 1
net_returns1

,BWA,ECL,PH,LB,INTC,TIF,SNA,K
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.030174,-0.023323,-0.036904,0.005701,-0.055013,-0.027374,-0.013563,0.001766
2,0.037570,0.036244,0.044808,0.047241,0.061362,0.035055,0.036505,0.009870
3,0.026026,0.002932,0.003634,0.041862,0.004659,0.042729,0.012801,0.004712
4,0.031431,0.012168,0.020872,-0.023208,0.006324,0.012456,0.012770,0.005558
...,...,...,...,...,...,...,...,...
350,-0.002007,0.000499,0.000900,0.043599,0.004518,-0.010209,-0.030029,0.011732
351,0.056300,0.020399,0.076402,0.106101,0.001285,0.002399,0.063004,0.000483
352,0.032360,0.013490,0.022602,0.031175,0.019570,0.017309,-0.005766,0.040084
353,-0.013522,0.019580,-0.026512,-0.053488,-0.029264,0.002195,-0.018060,0.012537
354,0.006890,0.005534,0.006431,-0.005528,0.019935,0.002425,-0.030355,0.007093

In [28]:
net_returns1.std()

BWA     0.027554
ECL     0.023962
PH      0.031607
LB      0.049634
INTC    0.028167
TIF     0.024281
SNA     0.025258
K       0.018762
dtype: float64

## 2. (b)

In [43]:
net_returns2 = sampleprices.iloc[354,:] / sampleprices.iloc[0,:] - 1
net_returns2

BWA    -0.058045
ECL     0.485213
PH      0.232712
LB     -0.339687
INTC    0.384531
TIF     0.609936
SNA    -0.084750
K       0.220404
dtype: float64

In [44]:
net_returns2.max()

0.609935589815354